@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.swiper-pagination-bullet {
    background-color: white !important; /* Цвет точек */
    opacity: 0.7; /* Прозрачность */
    width: 10px; /* Ширина точек */
    height: 10px; /* Высота точек */
}

.swiper-pagination-bullet-active {
    background-color: #fff; /* Цвет активной точки */
    opacity: 1; /* Прозрачность активной точки */
}

/* Отступы и позиционирование */
.swiper-pagination {
    bottom: 50px !important; /* Расположение снизу */
}
